@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}


.marcellus {
    font-family: "Marcellus", serif;
    font-weight: 400;
    /* font-style: normal; */
  }
  .our-patner{
    padding: 32px 0;
  }
  .about-sec {
    box-shadow: 0 2px 14px #dae8fa;
    background: #fff;
    padding: 50px;
    border-radius: 8px;
}
.about-sec h2{
  font-size: 20px;
  color: #09638c;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
outline: none !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.sbut-btn {
  background-color: #f5751a;
  background-position: 18px;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 4px;
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 13px 30px;
}
.form-group {
  margin-bottom: 15px;
}

















